
  .welcome {
    font-size: 100px;
    z-index: 7000;
    color: white;
    position: relative;
    margin-top: -30%;
    font-family: 'Bilbo Swash Caps', cursive;
    margin-left:5%;
    
  }
  .homepageBody {
    overflow: hidden;
    position:relative;
    display: flex;
    
    width:100%;
    font-family: 'Ysabeau Office', sans-serif;
    margin-top: -14.7%;
  }
  body {
    background-color: #160040;
  }

  .daniseALT {
    display: none;
  }

  .text-zone-container {
    color: #FFE3BB;
    margin-top: 2%;
  }
.h2{
    margin-top: 23%;
    margin-left: 1%;
    font-family: 'DM Sans', sans-serif;
}
.name {
margin-left: 1%;
font-family: 'DM Sans', sans-serif;

}
  .p{
    margin-top: 1%;
    width: 50%;
    line-height: 2;
    margin-left: 1%;
    font-family: 'DM Sans', sans-serif;
    text-align: justify;
  text-justify: inter-word;
  }

  .image-container {
    display: block;
    margin-top: 7.5%;
    height: 450px;
    
    width: 450px;
  }

  /* .danimg {
    align-items: center;
    width: 100%;
    margin-left: 42%;
    z-index: 600;
    position: relative;
    -webkit-filter: drop-shadow(5px 10px 5px #222);
    filter: drop-shadow(5px 10px 30px #222);
  } */

  .danise {
    margin-top: 2%;
    color: white;
    font-size: 80px;
    mix-blend-mode: hard-light;
    z-index: 700;
  }
/* 
  .shape {
    height: 400px;
    width: 400px;
   
    position: absolute;
    z-index: 500;
    margin-left: 52%;
    margin-top: 0%;
   
  }
  .circle {
    position: relative;
  }
  .circle1 {
    height: 200px;
    width: 200px;
    position:absolute;
    background-color: yellow;
    border-radius: 50%;
    margin-left: 20%;
    margin-top: 10%;
    
  }
  .circle2 {
    height: 75px;
    width: 75px;
    background-color: #160040;
    position: absolute;
    border-radius: 50%;
    margin-left: 36%;
    margin-top: 24%;
    mix-blend-mode: hard-light;;
    z-index: 200;
    animation: orbit 20s linear infinite;
  }
  @keyframes orbit {
    0% {
        transform: rotate(0deg) translateX(101px) rotate(0deg);
    }
    50% {
        transform: rotate(180deg) translateX(101px) rotate(-180deg);
    }
    100% {
        transform: rotate(360deg) translateX(101px) rotate(-360deg);
    }
} */
