
@media screen and (min-width: 1000px) {/*adjust*/
    .danise {
        font-size: 15 em;
  }
}
 
  .welcome {
    font-size: 67px;
    z-index: 7000;
    color: white;
    position: relative;
    margin-top: 3%;
    font-family: 'DM Sans', sans-serif;
    margin-left:5%;
    height: 100px;
   
  }
  .homepageBody {
    overflow: hidden;
    position:relative;
    display: flex;
    height: 600px;
    width:100%;
    font-family: 'Ysabeau Office', sans-serif;
    margin-top: -30.7%;
  }
  body {
    background-color: #160040;
    font-size: 0.625em/.11em;
    overflow: hidden;
  }

  .daniseALT {
    display: none;
  }

  .text-zone-container {
    color: #FFE3BB;
    margin-top: 16%;
 text-align: center;
    position: absolute;
    width: 100%;
  }

.name {
margin-left: 0%;
font-family: 'DM Sans', sans-serif;
font-size: 1em ;
text-align: center;
position: relative;
}
.danise {
  text-align: center;
  
}
.p {
   
    font-size: 1.1em;
    line-height: 2;
    
    font-family: 'DM Sans', sans-serif;
    text-align: center;
    position: flex;
    width: 100%;
}

.introduction div {
    display: inline-block;
    justify-content: space-between;
    max-width: 520px;
    
    margin-left: 2%;
    margin-right: 2%;
}
  /* Adjust as needed for spacing between div elements */

  /* .image-container {
    display: block;
    margin-top: 7.5%;
    height: 450px;
    
    width: 450px;
  } */

  /* .danimg {
    align-items: center;
    width: 100%;
    margin-left: 42%;
    z-index: 600;
    position: relative;
    -webkit-filter: drop-shadow(5px 10px 5px #222);
    filter: drop-shadow(5px 10px 30px #222);
  } */

  .danise {
    margin-top: 2%;
    color: rgb(228, 228, 228);
    font-weight: bold;
    font-size: min(5em, 13vw);
    white-space: nowrap;
    z-index: 700;
    text-shadow:
      0 0 1px #fff,
      0 0 5px #bdc6e6,
      0 0 21px #5e66de,
      0 0 22px rgb(255, 238, 0),
      0 0 60px rgb(204, 255, 0),
      0 0 2px rgb(234, 255, 0),
      0 0 80px rgb(183, 255, 0),
      0 0 10px rgb(0, 221, 255);

  }
/* 
  .shape {
    height: 400px;
    width: 400px;
   
    position: absolute;
    z-index: 500;
    margin-left: 52%;
    margin-top: 0%;
   
  }
  .circle {
    position: relative;
  }
  .circle1 {
    height: 200px;
    width: 200px;
    position:absolute;
    background-color: yellow;
    border-radius: 50%;
    margin-left: 20%;
    margin-top: 10%;
    
  }
  .circle2 {
    height: 75px;
    width: 75px;
    background-color: #160040;
    position: absolute;
    border-radius: 50%;
    margin-left: 36%;
    margin-top: 24%;
    mix-blend-mode: hard-light;;
    z-index: 200;
    animation: orbit 20s linear infinite;
  }
  @keyframes orbit {
    0% {
        transform: rotate(0deg) translateX(101px) rotate(0deg);
    }
    50% {
        transform: rotate(180deg) translateX(101px) rotate(-180deg);
    }
    100% {
        transform: rotate(360deg) translateX(101px) rotate(-360deg);
    }
} */


.area {
   
    width: 100%;
    height: 100vh;
    position: absolute;
}


.circles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
 
}
.triangle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
 
}
.cross {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
 
}
.square {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
 
}
.circles li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    /* Add the image path for the background image here */
    background-image: url('../../../public/circle.png');
    background-size: cover; /* Adjust as needed */
    bottom: -150px;
    animation: animate 45s linear infinite, glow 5s ease-in-out infinite;
    filter: drop-shadow(0 0 10px rgba(177, 127, 158, 0.5))
    
}
.triangle li {
    position: absolute;
    display: block;
    list-style: none;
    width: 100%;
    height: 100%;
    /* Add the image path for the background image here */
    background-image: url('../../../public/triangle.png');
    background-size: cover; /* Adjust as needed */
    bottom: -150px;
    animation: animate 45s linear infinite, glow 5s ease-in-out infinite;
    filter: drop-shadow(0 0 20px rgba(178, 170, 224, 0.5))
    
}
.cross li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    /* Add the image path for the background image here */
    background-image: url('../../../public/cross.png');
    background-size: cover; /* Adjust as needed */
    bottom: -150px;
    animation: animate 45s linear infinite, glow 5s ease-in-out infinite;
    filter: drop-shadow(0 0 10px rgba(89, 80, 108, 0.5))
    
}
.square li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    /* Add the image path for the background image here */
    background-image: url('../../../public/square.png');
    background-size: cover; /* Adjust as needed */
    bottom: -150px;
    animation: animate 45s linear infinite, glow 5s ease-in-out infinite;
    
    
}





@keyframes glow {
    0% {
        filter: drop-shadow(0 0 5px rgba(166, 255, 1, 1)); /* Adjust the glow color and intensity as needed */
    }
    50% {
        filter: drop-shadow(0 0 5px rgba(231, 24, 13, 1)); /* Adjust the glow color and intensity as needed */
    }
    100% {
        filter: drop-shadow(0 0 5px rgb(0, 225, 255)); /* Adjust the glow color and intensity as needed */
    }
}

/* Keep the rest of your existing CSS code as it is */

.circles li:nth-child(1) {
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
    filter: blur(5px);
}

.circles li:nth-child(2) {
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3) {
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.triangle li:nth-child(1) {
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.triangle li:nth-child(2) {
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.triangle li:nth-child(3) {
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.cross li:nth-child(1) {
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.cross li:nth-child(2) {
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.cross li:nth-child(3) {
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10) {
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}

@keyframes animate {
    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }
    100% {
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }
}

@media screen and (max-width: 950px) { 
  .p {
    display: none;
  }

  .welcome{
    position: relative;
  }
}

@media screen and (max-width: 700px) { 
  .p {
    display: none;
  }

  .welcome{
    position: relative;
  }

  .text-zone-container{
    margin-top: 25%;
    position: absolute;
  }
}
