.resume-container {
    background-color: azure;
    height:700px;
    margin-top: 4%;
    width: 600px;
    border-radius: 2%;
    padding: 10px;
    font-family: "Dosis", sans-serif;
   
   
}

.resume-1 {
    border: 2px solid #3498db;
    border-radius: 2%;
    height: 100%;   
    padding: 2px;
    box-sizing: border-box;
    
    
}

.heading {
    font-size: 30px;
    text-align: center;
}
.connect-me {
 margin-top: 5px;
 text-align: center;
}
.resume-line-container{
    width: 550px;
    height: 1px;
    background-color: red;
  
}

  .experience-container {
    height: 600px;
    width: 400px;
    position: absolute;
    padding-left: 10px;
    padding-right: 10px;
    overflow: scroll;
    background-color: inherit;
    line-height: 1.4;
  }

  .experience {
    font-size: 1.2em;
    display: block;
    position: sticky;
    position: -webkit-sticky;
    top: 0; /* required */
    width: 100% ;
    background-color: azure;
    text-align: left;
  }

  .description {
    font-size: 15px;
  }
.exp-title-1,
 .exp-title-2 , .exp-title-3{
    text-align: left;
}
.unordered-list{
    padding-left: 15px;
    font-size: 15px;
}

/* STYLING SCROLLBAR */

::-webkit-scrollbar {
    width: 1vw; /* THIS WILL RESET THE DEFAULT SCORLLBAR STYLING */
  }
  
  /* TO STYLE THE SCROLLBAR TRACK */
  ::-webkit-scrollbar-track {
    background-color: azure; /* THIS WILL SET THE COLOR OF THE SCROLLBAR TRACK */
  }
  
  /* TO STYLE THE SCROLLBAR THUMB */
  ::-webkit-scrollbar-thumb {
    background-color: #34c9ff;
    border: 0.3vw solid azure;
    border-radius: 5vw;
  }

  .skills-container {
    height: 500px;
    width: 160px;
    left: 35%;
    position: relative;
    align-items: left;
    margin-top: -8%;
   
  }

  .soft-skills {
    font-size: 1.2em;
    display: block;
    position: sticky;
    text-align: left;
    
  }

  .ul-skills {
    margin-left: 15px;
    font-size: 13px;
    text-align: left;
   
    line-height: 1.7;
  }

  .education {
    font-size: 1.2em;
    display: block;
    position: sticky;
    position: -webkit-sticky;
    top: 0; /* required */
    width: 100% ;
    background-color: azure;
    text-align: left;
  }
  .education-description {
    text-align: left;
  }

.skills-container-2 {
  display:none;
}

  
@media screen and (max-width: 600px) {
  .experience-container {
    width: 400px;
    height: 800px;
   
  }
  .skills-container {
  display: none;
  }
  .skills-container-2{
    display:block;
    
  }
  .ul-skills {
    font-size: 15px;
  }
  .soft-skills{
    display: block;
    position: sticky;
    position: -webkit-sticky;
    background-color: azure;
  }
  .resume-container {
    width: 430px;
    height: 900px;
    text-align: justify;
    text-justify: inter-word;
    
    
  }
  .exp-title-1, .exp-title-2, .exp-title-3 {
    text-align: justify;
    text-justify: inter-word;
  }
  .resume-line-container{
    width: 350px;
    height: 1px;
    background-color: red;
  
}
}


@media screen and (max-width: 420px) {
  .experience-container {
    width: 310px;
    height: 800px;
   
  }
  .skills-container {
  display: none;
  }
  .skills-container-2{
    display:block;
    
  }
  .ul-skills {
    font-size: 15px;
  }
  .soft-skills{
    display: block;
    position: sticky;
    position: -webkit-sticky;
    background-color: azure;
  }
  .resume-container {
    width: 350px;
    height: 900px;
    text-align: justify;
    text-justify: inter-word;
    margin-top: 0px;
    border-radius: 0;
  }
  
 .exp-title-1, .exp-title-2, .exp-title-3 {
    text-align: justify;
    text-justify: inter-word;
  }
  .resume-line-container{
    width: 290px;
    height: 1px;
    background-color: red;
  
}
}
