.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 100%;
    margin-top: 32%;
    position: absolute;
}


.resume-icon,
.mail-icon {
    height: 50px;
    width: 50px;
    margin: 0 5px; /* Adjust the margin as needed */
}

.project-icon {
   height: 50px;
}
.project {
    text-align: center;
    transition: opacity 0.3s ease-in-out;
    opacity: 0.5;
    height: 50px;
}
.project:hover {
    opacity: 1;
}

.resume {
    text-align: center;
    transition: opacity 0.3s ease-in-out;
    opacity: 0.5;
}

.resume:hover {
    opacity: 1;
}

.contact {
    border-radius: 10%;
    color: white;
    align-items: center;
    height: 70px;
    width: 100%;
    opacity: 0.5;
    transition: opacity 0.3s ease-in-out;
}

.contact:hover {
    opacity: 1;
}


