.buttons {
 
    margin-top: 32%;
  
    height: 50px;
    width: 50px;

}
.project-container {
    position: absolute;
    
    
    margin-left: -58%;
}
.project{
    position: absolute;
    filter: drop-shadow(0 4px 20px rgba(0, 0, 0, 0.2));
    
    text-align: center;
    
    opacity: .5;
    transition: opacity 0.3s ease-in-out;
}   
.project:hover{
    opacity: 1;
}
.cv-container {
    position: absolute;
    

    margin-left: -38%;
}

.project-icon {
    height: 50px;
    width: 50px;

}
.contact-container{
    position: absolute;
    

    margin-left: -18%;
}
.resume-icon{
    height: 50px;
    width: 50px;

}
.resume {
    position: absolute;
 
    
    
    text-align: center;
   
    transition: opacity 0.3s ease-in-out;
    opacity: .5;
}
.resume:hover {
    opacity: 1;
}

.mail-icon {
    height: 50px;
    width: 50px;

}

.contact {
    position: absolute;
  
    
    border-radius: 10%;
    
    color:white;
    text-align: center;
    height: 70px;
    width: 70px;

    opacity: .5;
    transition: opacity 0.3s ease-in-out;
}

.contact:hover {
    opacity: 1;
}
